-var full_1 = '9 400р.';
-var full_2 = '19 800р.';

-var sale_1 = '500р.';
-var sale_2 = '1 000р.';

-var today_1 = '8 900р.';
-var today_2 = '18 800р.';

-var link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3964&clean=true&lg=ru';
-var link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3968&clean=true&lg=ru';

-var prep_bonus = '500р.';
-var prep_cred = '1 000р.';
-var prep_link = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3971&clean=true&lg=ru';

section#prices
	.container
		+gt('general-title-prices','Выберите свой пакет участия:')
		.packets
			.row
				.col-md-6.col-sm-6
					.packet
						.packet-head
							h4.packet-head-title пакет
								span Золото
						.packet-body
							p.packet-body-text Курс “Настоящий Дизайн Человека”
							p.more-button(data-toggle="modal" data-target="#lessonsModal") подробнее
						.packet-footer
							p.cost.cost-full Стоимость:
								span=full_1
							p.cost.cost-sale Скидка:
								span#sale-1=sale_1
							p.cost.cost-today Стоимость сегодня:
								span#today-1=today_1
							+bl('button-cost',link_1,'_blank','Выбрать', 'link-1')
				.col-md-6.col-sm-6
					.packet
						.packet-head
							h4.packet-head-title пакет
								span Платина
						.packet-body
							p.packet-body-text Курс “Настоящий Дизайн Человека”
							p.more-button(data-toggle="modal" data-target="#lessonsModal") подробнее
							p.packet-body-text.packet-body-text-2 “Программа MetaDesign HD”
						.packet-footer
							p.cost.cost-full Стоимость:
								span=full_2
							p.cost.cost-sale Скидка:
								span#sale-2=sale_2
							p.cost.cost-today Стоимость сегодня:
								span#today-2=today_2
							+bl('button-cost', link_2, '_blank', 'Выбрать', 'link-2')
		.prepayment
			h4.prepayment-title Акция!!!
			p.prepayment-text Платите 500р., бонусом получаете 
				span#prepayment-bonus= prep_bonus 
				br
				| На счет зачисляется 
				span#prepayment-credited= prep_cred
			a.button.prepayment-button(href= prep_link target="_blank")#prepayment-link Оплатить 500р.
		.timer.hide
			h4.timer-title Цена изменится через:
			.clock
			.clock-stop